$family-font: 'Montserrat', sans-serif;
$white: #ffffff;

$box-bg: #003b67;
$color-font: $white;
$btn-primary-bg: #16aa8d;
$btn-default-bg: #0c548b;
$danger-color: #cc2900;
$featured-bg: #00355d;
$main-bg: #074d81;
